.sidebar {
  background-color: $main-dark-color;
  padding: 0;
  position: fixed;
  left: 0;
  height: -webkit-fill-available;
  z-index: 101;

  a {
    color: $main-light-color;
    display: flex;
  }

  .logo {
    font-family: 'Damion', sans-serif;
    font-size: 30px;
    max-width: fit-content;
  }
}

.menu {
  width: fit-content;

  .fa-bars {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-links-wrapper {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .sidebar {
    height: 61px;

    .logo {
      display: block;
      max-width: fit-content;
    
      .icon-wrapper {
        display: flex;
        justify-content: flex-end;
      }

      .icon {
        height: 100%;
        display: block;
        margin: 10px;
        text-align: end;
      }
    }
  }
  
  .nav-links-wrapper {
    display: none; 
  }

  .nav-active {
    .logo-wrapper {
      margin-bottom: 6px;
    }

    .nav-links-wrapper {
      display: block;
      padding-bottom: 10px;
      background: $main-dark-color;
      width: 260px;
      float: right;
      margin: 0;

      .icon-wrapper {
        flex: 1;
        max-width: fit-content;
      }

      [class*="icon-"] {
        justify-content: flex-end;
        margin: 0 6px;
        font-size: 17px;
      }

      .tittle-nav-link-wrapper {
        flex: 3;
        max-width: none;
        flex: 3;
        max-width: none;
        font-size: 19px;
        font-weight: 100;
      }
    } 
  }
}

@media screen and (min-width:768px) {
  .sidebar {
    width: 20%;
  }

  .logo {
    font-size: 20px;
  }

  .logo-wrapper .icon {
    display: none;
  }
}