.page-wrapper {
  top: 50px;
  left: 15%;
  width: 85%;
}

.page {
  background-color: $background-light-color;
  box-shadow: 0px 0px 5px 1px $main-color;
}

.page-title-wrapper {
  border-bottom: 1px solid $main-color;
  
  h3 {
    margin: 7px;
    font-family: $paragraph-font;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 767px) {
  .page-wrapper {
    left: 0;
  }
}

@media screen and (min-width:768px) {
  .page-wrapper {
    left: 20%;
  }
}
