.subpage-wrapper {
  background-color: lighten($main-color, 8%);
}

.subpage {
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px $main-color;
}

.subpage-title-wrapper {
  border-bottom: 1px solid $main-color;
  
  h3 {
    margin: 7px;
    font-family: $paragraph-font;
    color: $paragraph-color;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
  }
}
