.topbar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $main-color;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: $background-light-color;
}

.topbar {
  height: 100%;
    
  div {
    padding: 0 15px;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.topbar {
  span {
    margin: 12px;
  }
}

.topbar-item-wrapper {
  border-left: 1px solid $main-color;
  height: 100%;

  &:hover, &:active {
    background-color: $main-color;
  }
}

.profile span {
  font-size: 14px;
  color: $link-color;
}

.topbar-wrapper [class*='icon-'] {
  font-size: 19px;
  color: $paragraph-color;
}

.wallet span {
  font-size: 19px;
  font-weight: 400;
  color: $paragraph-color;
}


@media screen and (max-width:767px) {
  .topbar-wrapper {
    display: none;
    background: none;
    border-style: none;
  }

  .topbar-active {
    display: flex;
    top: 330px;
    padding: 0;
    height: auto;

    .topbar {
      display: block;
      background: $main-dark-color;
      width: 260px;
      height: fit-content;

      span {
        margin: 5px;
      }

      .topbar-item-wrapper {
        border-style: none;
        padding: 2px 0;

        &:hover, &:active {
          filter: brightness(100%);
          border-left: 5px solid #fd8b20;
          background-color: #32414d;
        }
      }

      .profile {
        .icon-profile {
          flex: 1;
          text-align: center;
        }

        span{
          flex: 3;
        }
      }
    }
  } 
}