.topbar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $main-color;
}

.topbar {
  height: 100%;
    
    div {
      padding: 0 15px;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.topbar {
  
  svg {
  height: 18px;
  width: 18px;
  fill: $paragraph-color;
  }

  span {
    margin: 15px;
  }
}

.topbar .col-md-auto {
  border-left: 1px solid $main-color;
  height: 100%;
}

.wallet span {
  font-size: 19px;
  font-weight: 400;
  color: $paragraph-color;

  svg:last-of-type {
    height: 12px;
    width: 12px;
  }
}

.profile span{
  font-size: 14px;
  color: $link-color;
}