
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}

.page .row {
  margin: 15px auto;
}

.side-bar {
  height: 100vh;
  padding: 0;
}

nav {
  display: block;
   
  .row {
    margin: 10px 0;
  }
}

.topbar {
  display: inline-flex;
}

@media screen and (min-width:576px) {
  .container {
    max-width: 100%;
  }
}