
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}


.side-bar {
  height: 100vh;
  padding: 0;
}


nav {
  display: block;
   
  .row {
    margin: 10px 0;
  }
}

.topbar {
  display: inline-flex;
}
