/* Colors */
$paragraph-color: #576574;
$brand-main-color: #ff9f43;
$main-dark-color: #3d3d3d;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;