/* Colors */
$paragraph-color: #d2dae2;
$main-color: #dce3eb;
$main-light-color: #fff;
$brand-main-color: #ff9f43;
$main-dark-color: #1e272e;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Damion', cursive;
$paragraph-font: 'Roboto', sans-serif;
