.general-page {
  .button-wrapper {
    margin: 0 15px;

    button {      
      padding: 8px 17px;
    }
  }
}

.general-column-wrapper {
  display: block;
  margin: 0px 30px;
  width: 250px;
}

.statistic-data-row {
  display: block;
}

.legend-wrapper {
  flex-wrap: wrap;

  .circle-signups {
    background-color: lightskyblue;
  }

  .circle-ftd {
    background-color: $brand-main-color;
  }

  .circle-earned {
    background-color: limegreen;
  }
}

.chart-wrapper {
  img {
    width: 100%;
  }
}

@media screen and (max-width:767px) {
  .general-page {
    .button-wrapper {
      margin: 15px 0;
    }
  }

  .legend-wrapper {
    display: flex;
    justify-content: left;

    .legend-wrapper [class*='map-legend-'] {
      justify-content: left;
      margin: 0;
      height: 30px;

      [class*='circle-'] {
        margin-left: 0;
      }
    }
  }
}