
.subpage .row {
  margin: 15px auto;
}

// .statistic-data {
//   div {
//     height: 30px;
//     display: inline-block;
//     justify-content: space-between;
//     align-items: center;
//     border-bottom: 1px solid $main-color;
//     padding: 0;
//   }
// }

.general-column-wrapper {
  display: block;
  margin: 0px 30px;
  width: 250px;
}