.button-wrapper {
  justify-content: center;
  display: flex;
  margin: 15px;
}

button {
  border-style: none;
  background-color: $brand-main-color;
  color: $main-light-color;
  border-radius: 3px;
  padding: 10px 20px;
  height: auto;
  width: fit-content;
  cursor: pointer;
  font-weight: 100;
  
  [class*="icon-"] {
    color: $main-light-color;
    font-size: 13px;
  }

  &:hover {
    background-color: darken($brand-main-color, 9%);
  }
}


@media screen and (max-width:424px) {
  button {
    padding: 0;
    margin: 10px 0;
  }
}