button {
  border-style: none;
  background-color: $brand-main-color;
  border-radius: 3px;
  margin: -1px 0px -1px 15px;
  
  [class*="icon-"] {
    color: $main-light-color;
    font-size: 13px;
  }
}