.nav-links-wrapper {
  li {
    padding: 0;
  }

  a {
    display: inline-flex;
    height: 37px;
    align-items: center;
    filter: brightness(70%);

    div:last-of-type {
      padding-left: 10px;
    }

    &:hover {
      filter: brightness(100%);
      border-left: 5px solid $brand-main-color;
      background-color: lighten($main-dark-color, 10%);
    }
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .nav-links-wrapper {
    font-size: 14px;
    font-weight: 100;

    li {
      margin: 10px 0;
    }

    [class*='icon-'] {
      font-size: 13px;
    }
  }
}